.DS_Store
assembly/math-match-game/
java/JavaProjects/DerivativeCalculator/
java/JavaProjects/OOProject/
libcs50/
# Ignore compiled C programs
CS50x/week1/cash
CS50x/week1/hello
CS50x/week1/mario

# EXCEPTION: keep folders (optional, Git ignores them unless they're tracked anyway)
!*/
